.App {
    background-color: midnightblue;
    min-height: 100vh;
    display: flex;

}

.box{
    display: flex;
    background-color: aliceblue;
    width: 50vh;
    
    border-radius: 2vh;
    padding: 5vh;
    margin: 5vh;
}

h1{
    margin: auto;
}

.container{
    position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
}



 /* Style the tab */
 .tab {
     overflow: hidden;
     background-color: aliceblue;
 }

 /* Style the buttons that are used to open the tab content */
 .tab button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
     border-radius: 10px;
     width: 25vh;
 }

 /* Change background color of buttons on hover */
 .tab button:hover {
     background-color: #ddd;
 }

 /* Create an active/current tablink class */
 .tab button.active {
     background-color: #ccc;
 }

 /* Style the tab content */
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border-top: none;
 }